@model IEnumerable<OrderDetails>

@{
    ViewData["title"] = "Order Details";
    decimal total = 0;     // tổng tiền đơn hàng
    decimal subtotal = 0;
}

<h3>Order Details</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Order Code</th>
            <th>User Name</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            subtotal = item.Quantity * item.Price;
            total += subtotal;

            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId" />
                <td>@item.Id</td>
                <td>@item.OrderCode</td>
                <td>@item.UserName</td>
                <td>@item.Product.Name</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@subtotal.ToString("C")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5">Total:</th>
            <td>@total.ToString("C")</td>
            <td>
                <select class="form-control select-update-order">
                    <option value="1">Đơn hàng mới</option>
                    <option value="0">Đã xử lý</option>
                </select>
            </td>
        </tr>

    </tfoot>
</table>

@section Scripts {
    <script>
        new DataTable('#detail_order', {
            layout: {
                topStart: {
                    buttons: ['pdf','print']
                }
            }
        });

    </script>
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val(); //status = 1
                var ordercode = $('.getId').val(); //
                // alert(status);
                // alert(ordercode);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateOrder")",
                    data: { status: status, ordercode: ordercode }, // Send data to the server

                    success: function (result) {
                        // Handle successful update
                        if (result.success) {

                            Swal.fire("Cập nhật đơn hàng thành công.");
                        } else {

                            Swal.fire("Cập nhật đơn hàng thất bại." + result.message);

                        }
                    }

                });
            });
        });
    </script>
}
